parameters:
    level: max
    paths:
        - src
        - tests
        - index.php
        - database
        - bin/e2e-prepare.php
        - bin/cron.php
        - bin/demo-data.php
        - bin/benchmark.php
        - bin/build-wiki.php
