# Direktzugriff verbieten (zusätzlich zur Regel in der .htaccess im Wurzelverzeichnis)
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
